/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.logo-image {
    width: 300px;
    height: 100px;
    overflow: hidden;
    margin-top: -50px;
}

.home-title {
    margin-top: 60px;
}

.img-estanteria {
    width: 100%;
}



/*SIDEBAR AND NAVBAR*/

.sidebar-container {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    color: #140e39;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #140e39;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    height: 80%;
    list-style-type: none;
    position: relative;
    
    overflow-y: scroll;
}


    .sidebar-navigation ul li {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 20px;
    }

    .sidebar-navigation li a {
        padding: 10px 15px 10px 30px;
        display: block;
        color: #140e39;
    }

    .sidebar-navigation ul li .fa {
        margin-right: 10px;
    }

    .sidebar-navigation ul li a:active,
    .sidebar-navigation ul li a:hover,
    .sidebar-navigation ul li a:focus {
        text-decoration: none;
        outline: none;
    }

    .sidebar-navigation ul li::before {
        background-color: #BFBFBF;
        position: absolute;
        content: '';
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 3px;
        z-index: -1;
    }

    .sidebar-navigation ul li:hover::before {
        width: 100%;
    }

    .sidebar-navigation .header {
        font-size: 12px;
        text-transform: uppercase;
        background-color: #140e66;
        color: white;
        padding: 10px 15px 10px 30px;
    }

        .sidebar-navigation .header::before {
            background-color: transparent;
        }

.content-container {
    padding-left: 220px;
}

.accordion-caret .accordion-toggle:hover {
    text-decoration: none;
}

    .accordion-caret .accordion-toggle:hover span,
    .accordion-caret .accordion-toggle:hover strong {
        
    }
