@{
    ViewBag.Title = "Home Page";

}

<link rel="stylesheet" href="~/Content/Site.css" />

    <div class="container-fluid">

        <div>
            <p align= center style="margin-left: 182px; font-size: 40px; width:90%;height:50%;">Comisión de Carrera Profesional</p>
            <img  style=" margin-left: 182px; font-size: 40px; width:1000px;height:550px;" src="~/images/TEC-3.jpg">
        </div>
    </div>

